
  p {
    padding: 10px 10px 10px 10px !important;
    margin: 0;
  }

  .separator{
  	border-bottom: 2px solid;
  }

    ion-item :hover {
    background-color: pink;
    
    }

    img:hover {
    background-color: pink;
    }
