
  p {
    padding: 10px 10px 10px 10px !important;
    margin: 0;
  }

  .details{
     padding-top: 10px;
     padding-bottom: 10px;
     font-weight: bold;
  }

  .separator{
  	border-bottom: 2px solid;
  }

    img:hover {
    background-color: pink;
    box-shadow: pink;
    }
