<ion-header>
  <ion-navbar color="yayasan">
  <ion-title>{{kempen.campaign_name}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="closeModal()"><ion-icon name="ios-close-circle-outline"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
	
    <ion-row>  
        <div>
        	<img src="assets/img/qurban.jpg">
        </div>
      
    </ion-row>
    <ion-row >
      <ion-col *ngFor="let im of moreImg" item-wrap>
        
        	<img src="{{im.image}}">
      
      </ion-col>
    </ion-row>
  <div padding-bottom="10px">
    <h3>{{kempen.campaign_name}}</h3>
    <p>{{kempen.location}}</p>
    <p>{{kempen.campaign_start_date}}-{{kempen.campaign_end_date}}</p>
  </div>
  	

	<div text-wrap>
    <p>{{kempen.description}}</p>	
    <button (click)="details(kempen)">Read more</button>
	</div>

  <div class="details">
    <p>RM{{kempen.fund_amount}} terkumpul setakat ini</p>
    <p>80% tepati sasaran</p>
    <p>5 hari lagi</p>
  </div>
  
    <ion-list>
      <ion-item (click)="commentsTapped(kempen)" >
        Comments 
        <ion-badge color="yayasan" item-end *ngIf="commentBadge">{{commentBadge}}</ion-badge>
      </ion-item>
      <ion-item (click)="newsTapped(kempen)" >
        News 
        <ion-badge color="yayasan" item-end *ngIf="newsBadge">{{newsBadge}}</ion-badge>
      </ion-item>
      <!-- <ion-item (click)="newsTapped(kempen)" *ngIf="newsBadge">
        News 
        <ion-badge color="yayasan" item-end></ion-badge>
      </ion-item> -->
    </ion-list>

    <button ion-button full round color="yayasan" (click)="donate()">Donate</button>
 
</ion-content>
