<ion-header>
  <ion-navbar color="yayasan">
  <ion-title>KEMPEN</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="closeModal()"><ion-icon name="ios-close-circle-outline"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
<div *ngIf="kempen">
    <ion-row>  
        <div>
        	<img src="{{image}}" >
        </div>  
    </ion-row>
    <ion-row>
      <ion-col col-4 *ngFor="let im of moreImg" item-wrap no-padding style="padding-right: 2px">
        	<img src="{{im.image}}" (click)="imageTapped(im.image)">
      </ion-col>
    </ion-row>

  <h6>{{kempen.category_id}}</h6>
  <h5 text-wrap>{{kempen.campaign_name}}</h5>

  <!-- <div>
    <p>Anjuran   : {{kempen.organiser}}</p>
    <p>Lokasi    :{{kempen.location}}</p>
    <p>Tarikh    :{{kempen.campaign_start_date | date:'dd/MM/yyyy'}} - {{kempen.campaign_end_date | date:'dd/MM/yyyy'}}</p>
  </div> -->
  	

	<div text-wrap style="padding-bottom: 10px">
    <p>{{kempen.short_desc}}</p>	
    <button (click)="details(kempen)">Lagi</button>
	</div>

        <div class="process">
          <div class="raised">
            <span [ngStyle]="{'width':progressbar}"></span>
          </div>
        </div>

  <div class="details">
    <p><strong>RM{{kempen.fund_amount}}</strong> terkumpul setakat ini</p>
    <p><strong>{{percentage}}%</strong> tepati sasaran</p>
    <p><strong>{{remainingDays}}</strong> lagi</p>
  </div>
  
    <ion-list>
      <ion-item (click)="commentsTapped(kempen)" >
        Comments 
        <ion-badge color="yayasan" item-end *ngIf="commentBadge">{{commentBadge}}</ion-badge>
      </ion-item>
      <ion-item (click)="newsTapped(kempen)" >
        News 
        <ion-badge color="yayasan" item-end *ngIf="newsBadge">{{newsBadge}}</ion-badge>
      </ion-item>
      <!-- <ion-item (click)="newsTapped(kempen)" *ngIf="newsBadge">
        News 
        <ion-badge color="yayasan" item-end></ion-badge>
      </ion-item> -->
    </ion-list>

    <button ion-button text-center color="yayasan" (click)="donate(kempen)">Donate</button>
 </div>
</ion-content>
