.bg{
	background-image: url('../assets/user.jpg');
	height: 180px;
	background-size: cover;
	filter: blur(5px);
	background-position: center center;
}

.main-cnt{
	width: 100%;
	//height: 70px;
	//background-color: #efefef;
}

.dp{
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-top: -30px;
	margin-left: 15%;
	margin-right: -85%;
	transform: translate(-50%,-50%);
	box-shadow: -6px 15px 81px 3px rgba(0,0,0,0.75);
}

.procss ion-title {
	text-align: left;
	margin-top: -65px;
	margin-left: -30px;
}

.procss ion-list{
	margin-top: 50px;
}

.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: solid;
  border-radius: 50%;

  object-fit: cover;
}