<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home">
   <ion-slides pager autoplay="5000" loop="true" speed="3000" *ngIf="sliderImage && sliderImage.length">
  <!-- <ion-slides pager autoplay="5000" loop="true" speed="3000"> -->
    <ion-slide *ngFor="let slide of sliderImage">

      <img src="{{slide.banner_image}}">
  
    </ion-slide>
  </ion-slides>

  <ion-item-divider><div><h1>
    Kempen Terkini
  </h1></div></ion-item-divider>

<ion-card *ngFor="let campaign of latestcampaign" >
  <div (click)="moreDetail(campaign)">
    <img src="{{campaign.campaign_image}}">
    <!-- <img src="assets/img/health.jpg" /> -->
    <ion-card-content >
    <div class="cardTitle">
      <h2>{{campaign.campaign_name}}</h2>
    </div>
      <ion-card-title>
      <div padding-bottom=10px>
        <p>{{campaign.organiser}}</p>
        <p>{{campaign.location}}</p>
        <p>{{campaign.campaign_start_date  | date:'dd/MM/yyyy'}} - {{campaign.campaign_end_date | date:'dd/MM/yyyy'}}</p>
      </div>
      </ion-card-title>
        <p>{{campaign.short_desc}}</p>

        <div class="process">
          <div class="raised">

            <span [ngStyle]="{'width':getWidth(campaign.campaign_id)}"></span>
          </div>
        </div>
      
      
      <div class="detailUpdate">
        RM {{campaign.fund_amount}} terkumpul
      </div>
      
  </ion-card-content>
  </div>
  <!-- <ion-row padding-left=10px>
    <p text-left>200 Likes 10 Comments</p>
  </ion-row> -->
  <ion-row no-padding class="botBorder">
      <ion-col text-left>
        <button ion-button clear small color="danger" icon-start (click)=commentPress(campaign)>
        <ion-icon name='chatbubbles'></ion-icon>
          Comment
        </button>
      </ion-col>
      <ion-col text-left>
        <button ion-button clear small color="danger" icon-start>
        <ion-icon name="thumbs-up"></ion-icon>
        Like
        </button>
      </ion-col>
      <ion-col text-left>
        <button ion-button clear small color="danger" icon-start (click)="shareButton()">
        <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
    
  
  
</ion-card>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content *ngIf="pagingEnabled"></ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
