
.slideSize{
	height : 45%;
}

.imgSize{
	height : 80%;
	width : 80%;
}


// ion-item-divider{
// 	text-align: center;
// }

.botBorder{
	border-top : 2px solid;
}

.cardTitle{
	font-weight: bold;
}

.detailUpdate{
	color: #000000;
	font-weight: bold;
}

ion-slides {
	height: 43%;
}
