<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home">
  <ion-slides pager autoplay="5000" loop="true" speed="3000">
    <ion-slide *ngFor="let slide of slideData">

      <img src="{{slide.image}}">
  
    </ion-slide>
  </ion-slides>

  <ion-item-divider><div><h1>
    Kempen Terkini
  </h1></div></ion-item-divider>

<ion-card *ngFor="let card of cardData">
  <img src="{{card.image}}" (click)="moreDetail()"/>
  <ion-card-content>
    <div class="cardTitle">
      <h2>{{card.title}}</h2>
    </div>
      <ion-card-title>
      <div>
        <h4>{{card.stitle}}</h4>
      </div>
      </ion-card-title>
        <p class="statusBorder">{{card.desc}}</p>

      <ion-item>
        <ion-range [(ngModel)]="brightness">
        </ion-range>
      </ion-item>
      <ion-item>
      <div class="detailUpdate">
        <p>{{card.price}}</p>
        <p>{{card.perce}}</p>
        <p>{{card.day}}</p>
      </div>
      </ion-item>
  </ion-card-content>
   <ion-row no-padding class="botBorder">
      <ion-col>
        <button ion-button clear small color="danger" icon-start (click)=commentPress()>
        <ion-icon name='chatbubbles'></ion-icon>
          Comment
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
        <ion-icon name='eye'></ion-icon>
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
        <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>
</ion-card>

</ion-content>
