.slideSize{
	height : 200px;
}

.imgSize{
	height : 80%;
	width : 80%;
}

ion-item-divider{
	text-align: center;
}

.botBorder{
	border-top : 2px solid;
}

.cardTitle{
	color: #488aff;
	font-weight: bold;
}

.detailUpdate{
	color: #000000;
	font-weight: bold;
}